@charset "UTF-8";
/* 글자깨짐방지(따옴표랑 세미콜론 꼬옥 넣기!) */

* {
    margin: 0;
    padding: 0;
}

/* h태그/a태그 reset용 */

h1,h2,h3,h4,h5,h6{ /* 제목태그 일괄적용? */
    margin: 0;
    font-size: 16px; /* 폰트 설정 안 해줄 시 기본값 16px */
    font-weight: normal; /* 폰트 두께 */
}

a{
    text-decoration: none; /* 밑줄 삭제(none말고 다른거면 다른 옵션도 잇겟죠? */
    color: #234 ; /* 숫자가 223344 < 이렇게 둘둘씩 같을 때는 줄이기 가능! */
}

.전체 {
    background-color: #EAC7C7;
    width: 1000px;
    margin: 30px auto 0; /* 위: 30, 좌우: 오토, 아래: 0 */
    padding: 20px; /* padding과 borderbox를 같이 쓴다... 결국 1000px 안에서 안 자리를 줄이느 것임... */
    box-sizing: border-box;
}

.전체>div+div { /* div+div... 바로 위에 형이 있는! div만 부르는 것임 > 첫째는 안 불러짐! 둘째 이하부터 불러짐 */
    margin-top: 30px; /* margin top: mt */
}

.전체 .첫째 {
    background-color: #A0C3D2;
    padding: 20px;
}

.전체 .첫째 .첫자{
    background-color: #EAE0DA; /* 부모의 PADDING을 제외하고 찍힘 */
    width: 50%;
    height: 200px;
    float: left;
}

.전체 .첫째 .첫자.첫째자식1{}
.전체 .첫째 .첫자.첫째자식2{}

.치료::after{
    content: "";
    clear: both;
    display: block;
}

.전체 .둘째 {
    color: #748DA6;
    background-color: #F7F5EB;
}

.전체 .둘째 .앵커{
    
}

.전체 .둘째 p{
    width: 150px;
    margin-top: 20px;
}


.전체 .둘째 p a{}
.전체 .둘째 p a img{
    width: 150px;
}
/* 인라인요소: 공간 인식 X > 넓이/높이 인식 못함
예외: img button(넓이, 높이 적용됨) 
인라인 요소 안에는 인라인 요소만 들어간다
(인라인 안에 블럭 요소 못 넣는다~~ 근데 블럭엔 인라인 넣을 수 잇음 굿~)

span p(x) < 에러가 뜨진 않는데 이유 없이 쓰지 말 것
css에서 인라인을 블록으로 바꾸고 나면? 해도 되는 거임?
p span(O)
span img(o)*/

.전체 .셋째 {
    color: #748DA6;
    background-color: #D3CEDF;
}