@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root{
    /* html보다 더 힘이 세다... */
    --grn:aliceblue;
    /* --속성이름:속성값 */
    /* 변수를 바꾸면 변수를 쓴 곳 전부를 바꿀 수 있다 */
    --padding-top10:10px;
    --padding-bottom10:10px;
    /* 이걸 넣으면 바로 padding-top:10px이 들어감 */
}


.전체 {
    /* font-size: 1.2em; */
    /* 1.2em = 16px*1.2 = 19(.2)px */
    font-size: 1.2em;
}

.전체 .첫째 {
    font-size: 0.5em;
    /* 0.5em = 16px * 1.2 * 0.5 (부모의 수치에 곱한것) */
}

.전체 .첫째 .첫손 {
    background-color: blue;
    color: var(--grn);
    /* var(--변수명) 으로 불러온다 */
    height: 50vh;
    font-size: 4rem;
    padding-top: var(--padding-top10);
    padding-bottom: var(--padding-bottom10);
    /* view포트의 높이. 보이는 창의 100% */
    /* font-size: 3vw; /* view포트의 넓이의 3% > 띄우는 창 크기에 비례하게 됨.*/
    /* font-size: 0.3em; */
    /* 0.5em = 16px * 1.2 * 0.5 * 0.3
    반복돼서 곱한다(대체로 부모에 px주고 비례하는 부분만 em으로 처리.  */
    /* root-em: root: html요소 의미.
    html의 기본 폰트 크기는 16px이므로 16px을 기준으로 계산함! 뭐든! */
}