* {
    margin: 0;
    padding: 0;
}

.박일수 {
    background-color: #D8D9CF;
    width: 80%;
    /* margin-right: auto; 오른쪽방향에 여백 > 왼쪽으로 붙임? */
    margin: 0 auto;
    /* 위아래마진: 0 / 좌우마진: 오토 */
    /* padding: 20px; */
    padding: 20px 40px;
    /* padding: 10px 30px 50px; 상 좌우 하 < 순서 */
    /* padding: 30px 60px 90px 120px ; 상 우 하 좌 < 순서 */
}

.박일수 .박첫째 {
    background-color: #EDEDED;
    padding: 10px;
}

.치료::after {
    content: "";
    clear: both;
    display: block;
}

.박일수 .박첫째 .자식 {
    width: 49%;
    height: 200px;
    float: left;
    /* 일괄로주니까 */
}

.박일수 .박첫째 .자식.첫째자식1 {
    background-color: bisque;
    margin-right: 2%;
    padding: 20px;
    /* 이거만 쓰면 패딩이 밖에 붙음! */
    border:#FF8787 5px solid;
    box-sizing: border-box;
    /* 이걸 쓰면 영역 안에 들어옴!(패딩과 보더를 영역 안에 포함시킴 */
    /* width/height+padding+border를 영역 안으로 포함(근데 width가 영역 크기인거 아냐?) */
}

.박일수 .박첫째 .자식.첫째자식2 object{
    width: 100%; height: 100%;
}


.박일수 .박둘째>div {
    background-color: #FF8787;
    padding: 20px;
    margin-top: 30px;
    float: left;
    width: 23.5%;
    height: 200px;
    box-sizing: border-box;
    margin-right: 2%;
}

/* 띄어쓰기: 자손을 부름(밑에 있기만 하면 됨) / 꺽쇠: 직계자식 부름(바로 밑에 있는 애만) */


/* .박일수 .박둘째>.div.둘자식4 {
} <오류냈던거*/


.박일수 .박둘째>div.둘자식1 {
    background-image: url(crrrrr.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
    /* 각각 x/y축으로 움직임 */
}

.박일수 .박둘째>div.둘자식1:hover{
    background-size: 150%;
    background-position: center center;
}

.박일수 .박둘째>div.둘자식2 {
    background: #FF99D7 url(rtx.png)no-repeat 50% 50%/100%;
    transition: 0.3s; /*변화에 시간차 생김 + hover에 넣으면 마우스 "올릴때만" 부드럽게 변함. 여긴 항상 부드러움

    /* 컬러 URL 이미지노리핏 위치 /사이즈  
    슬래시사이즈 해도 된다! 그치만 bgsize는 빼는 경우가 많은듯?*/
}

.박일수 .박둘째>div.둘자식2:hover { /* hover:마우스오버했을 경우 */
    background-image: url(bd.png); /* 그냥 background 태그 쓰면 다른 것도 다 바뀜!!*/
}

.박일수 .박둘째>div.둘자식3 {
    overflow: hidden; /*영역 바깥을 숨김(잘림!)*/
}

.박일수 .박둘째>div.둘자식3 iframe{
    width: 100%; 
}


.박일수 .박둘째>div.둘자식4 {
    overflow: hidden;
    margin-right: 0;
}

.박일수 .박둘째>div.둘자식4 iframe {
    width: 100%;
}

.박일수 .박셋째 {
    color:deeppink; /* 인라인요소 > 상속됨(대체로 글자관련) */
    margin-top: 30px;
    padding: 20px;
    background-color: aliceblue;
    font-size: 20px;
    text-align: center;
}

.박일수 .박셋째>div {
    background-color:aqua;
    width: 32%;
    margin-right: 2%;
    float: left;
    height: 200px;
    line-height: 200px; /* 행간: 윗줄의 아래와 아랫줄의 위 사이의 간격 X / 줄노트의 줄 크기?(줄간격?) 근데 이게 행간 크기와 구역 크기가 같으므로 여러 줄 적으면 문자가 저~~~~ 밑에생김 */
}

.박일수 .박셋째>div.세자식1{
    background-color: lavender;
}
.박일수 .박셋째>div.세자식2{}
.박일수 .박셋째>div.세자식3{
    margin-right: 0;
}
