@charset "UTF-8";

*{margin: 0; padding: 0;}

.wrap{
    width: 800px;
    margin: 50px auto;
    background-color: mediumpurple ;
    padding: 200px 0;
}
.wrap>div{
    height: 300px;
    background-color: lightgray;
}
/* section1의 시작점부터(margin이 나타난 이후) wrap이 나타남(margin의 병합현상) */

.wrap>div+div{
    /* 바로 위에 div가 있는 div에만 적용됨 즉 sec 2~4 */
    margin-top: 200px;
    background-color: antiquewhite;
    border-top: 1px solid black;
    margin-bottom: 200px; /* 이건 병합되…는데 맨 밑엔 적용됨 */
}

/* 어느 margin이 어디에 적용되는지... 그냥 돌아돌아 padding 쓰고 margin 쓰고 하면서 깨닫자 걍... 

1. 첫 영역엔 margin이 간격으로 적용되진 않는다?
2. 그러니까 padding을 쓴다
3. 맨 아래에 margin을 주려면 전체를 잡자.
작은 영역은 걍? 되는? 데? 큰 영역에는 주의할 것...*/

.wrap .section2 div{
    margin-top: 50px;
}