@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.치료::after{
    content: "";
    display: block;
    clear: both;
}

.전체 {
    position: relative;
    /* 이걸 넣으면 red의 absolute의 기준이 얘가 됨? */
    margin-left: 100px;
    margin-top: 100px;
    background-color: gray;
    width: 600px;
    border: 5px solid red;
    /* 얘 높이는 자식 넷의 합임 */
}

.전체>div {
    width: 150px;
    height: 150px;
}

.전체 .pink {
    background-color: pink;
    position: static;
    /* 기본값임! 움직이라해도 안움직임! */
    left: 50px
        /* 적용안됨! */
    ;
}

.전체 .green {
    background-color: rgb(166, 235, 166);
    position: relative;
    left: 400px;
    top: 0px;
    /* 기존 자신의 위치(static)를 기억함. 다른 주위 요소들에게 영향을 주지 않고 지만 움직임   
    left/top의 위치는 원래 자신의 위치*/

}

.전체 .red {
    background-color: rgb(248, 135, 135);
    position: absolute;
    left: 150px;
    top: 300px;
    /* 원래 가진 자신의 영역 상실. 조상을 기준으로 삼음 
    근데 조상이 누구?
    1. 설정 안함 > body를 따름
    2. 조상의 position에 relative를 넣음 > 얘가 기준됨*/
}

.전체 .blue {
    background-color: rgb(186, 186, 250);
    right: 100px;
    top: 100px;
    position: fixed;
    /* 브라우저 창을 기준으로! 위에서 100px 오른쪽에서 0px(딱 붙음) > 스크롤 내려도 따라온다. 문서와 겹쳐지더라도! 브라우저에만!!따른다 자식으로 인식 안 됨 */
}

.영역 {
    border: 2px solid #000;
    background-color: skyblue; 
    width: 1000px;
    margin: 20px auto 0;
    padding: 20px;
    box-sizing: border-box;
}

.영역>div{
    background-color: aquamarine;
    width: 49%;
    float: left;
    height: 300px;
}

.영역>div.포지션1{
    margin-right: 2%;
    position: relative;
    overflow: hidden;
    /* 넘는거 숨김 */
}

.영역>div.포지션1 .포자{
    background-color: pink;
    width: 3%;
    height: 3%;
    line-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    /*근데 포지션이 내 몸의 반만큼 왼쪽 위로 가야하는데 어떻게해야할까?*/
    transform: translate(-50%,-50%); /* %의 기준이 자신임 */
    transition: 0.8s;
}


.영역>div.포지션1:hover .포자{ /* 포지션1에 over하면 포자를 바꾸겠다 */
    width: 100%;
    height: 100%;
}


.space {
    height: 2000px;
    background-color: #eee;
    position: relative;
}

.space>div{
    background-color: #aaa;
    position: absolute;
    top: 20px; bottom: 20px;
    left: 20px; right: 20px;
}