@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.전체 {
    color: red;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    /* 위의 margin 0 덮어쓰기 해줌 */
}

.치료::after {
    clear: both;
    content: "";
    display: block;
}

.전체 .첫째 {
    background-color: #F2E5E5;
    padding: 20px;
}

.전체 .첫째 .첫자 {
    background-color: #E8C4C4;
    width: 32%;
    height: 450px;
    float: left;
    margin-right: 2%;

}

.전체 .첫째 .첫자.첫자1 {
    position: relative;
    /* 같은 이름인거 붙여서 씀. 구별되는 이름만 넣어도 되긴 함 */
    overflow: hidden;

}

.전체 .첫째 .첫자.첫자1 .하 {
    background-image: url(../image/sldk1.jpg);
    background-size: cover;
    /* cover: 이미지 하나가 영역을 다 채우게 들어감(크면 잘림) // contain: 이미지 전체가 보이게 들어감(영역이 남을수 있음) */
    background-position: center bottom;
    /* x포지션 - y포지션: 중복이면 한번만 적어도 됨! */
    /* ../: 상위요소로 올라감 > css의 위(position2)로 가서 > img로 들어가서 > sldk1을 부름 */
    position: relative;
    /* 주위의 영향 안 끼치고 하위 absolute의 기준이 됨. */
    height: 100%;
    /* 부모는 자식의 높이를 따라가지만! 자식은 넓이만 따라감(높이 안 따라감) > 100%로 지정해줘야 따라감 */
}

.전체 .첫째 .첫자.첫자1 .하 h4 {
    /* class명에는 . 붙이는데 태그 명에는 . 붙이면 안됨!!!! */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자1 .상 {
    background-image: url(../image/sldk2.jpg);
    background-size: cover;
    background-position: center;
    left: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* 부모는 자식의 높이를 따라가지만! 자식은 넓이만 따라감(높이 안 따라감) > 100%로 지정해줘야 따라감 넓이도!! 해줘야했구나...*/
    transition: 0.3s;
}

.전체 .첫째 .첫자.첫자1:hover .상 {
    left: 0;

}

.전체 .첫째 .첫자.첫자1 .상 h4 {
    position: absolute;
    /* 부모한테 absolute가 있으면 얘도 매달리는거임? 자식도? */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}




.전체 .첫째 .첫자.첫자2 {
    position: relative;
    overflow: hidden;
}

.전체 .첫째 .첫자.첫자2>div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.전체 .첫째 .첫자.첫자2>div h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.전체 .첫째 .첫자.첫자2 .상 {
    background-image: url(../image/sldk3.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    transition: 0.3s;
    z-index: 1;
    /* position(relative, absolute, fixed)이 있어야 사용 가능. 레이어?인거임? 숫자가 클수록 위에 있음
    레이어 주의사항! 부모가 낮으면 자식도 낮음!! 불합리하다 부모가 일종의 레이어 폴더인거지??*/
    top: 100%;
}

.전체 .첫째 .첫자.첫자2:hover .상 {
    /* 첫자 2에 hover를 했을때 상을 바꾸겠다! */
    top: 0;
}

.전체 .첫째 .첫자.첫자2 .상 h4 {}

.전체 .첫째 .첫자.첫자2 .하 {
    background-image: url(../image/sldk4.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 0;

}

.전체 .첫째 .첫자.첫자2 .하 h4 {}



.전체 .첫째 .첫자.첫자3 {
    margin-right: 0;
    position: relative;
    overflow: hidden;
}

.전체 .첫째 .첫자.첫자3 h4{
    position: absolute;
    left: 50%; top: 50%;
    transition: (-50%,-50%);
}

.전체 .첫째 .첫자.첫자3>div {
    width: 100%; height: 100%;
    background-size: cover;
    background-position: center;

}

.전체 .첫째 .첫자.첫자3 .상{
    background-image: url(../image/sldk6.jpg);
    position: absolute;
    z-index: 1;
    transition: 0.3s;
}

.전체 .첫째 .첫자.첫자3 .하{
    background-image: url(../image/sldk5.jpg);
    position: absolute;
}

.전체 .첫째 .첫자.첫자3:hover .상{
    opacity: 0;
    scale: 0;
    border-radius: 100%;
    
}

/* 왜 하는 이미지가 문제 생기지???
그리고 이징!!! 배울지도? 시간 안에 시간을 어떻게 쓸 것인가! 임 
뭐가달라서 안되는가 안 보면 죽음.*/

.전체 .둘째{
    margin-top: 20px;
    background-color: #CE7777;
    width: 30%;
    /* %의 기준!
    width: 부모의 넓이 > 여기서는 전체
    height: 부모의 넓이: 단 부모가 높이 값이 있어야한다!
     */
}