@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,ol,li{
    list-style: none;
    /* 모든 리스트 스타일 다 빼놓고 시작함 */
}

#전체 {
    background-color: lightblue;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

#전체 .첫째자식 {
    background-color: lightsteelblue;
    padding: 20px;
}

#전체 .첫째자식 .wrap {

    position: relative;
}

#전체 .첫째자식 .첫째손자 {
    background-color: lightsalmon;
    height: 500px;
    transition: 0.3s;
}

#전체 .첫째자식 .첫손1 {
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center;
}


#전체 .첫째자식:hover .첫손2 {
    opacity: 0;
}



#전체 .첫째자식 .첫손2 {
    background-image: url(../img/img2.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    /* relative를 잡을거면!! 조상을 잡기!!! 형제는 못잡음!!!! */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 
    absolute: 얘는 부모의 padding에 침범함... padding 내부만 차지하고 싶다면?
    >>첫째자식 안에 div을 하나 더 만들어서 그 영역에 100%가 되게 한다. padding침범 안 하게 하려고!*/
}

#전체 .둘째자식{
    margin-top: 30px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box; /* 높이 200px에 padding 포함! 
    넓이의 경우는? > 강제로 넓이를 지정하지 않는 이상 padding 포함 넓이 100%됨*/
    background-color: cornsilk;
    position: relative;
}
#전체 .둘째자식 .둘째손자{
    background-color:peachpuff;
    /* height: 100%;  */
    /* w100%는 안적어도 기본값 > block요소는 그렇다...
    +자식은 부모의 padding에 침범하지 못한다!!!!!*/
    position: absolute; /* 이러면 기준이 필요해진다! 단 absolute 됏을때는 padding을 침범함!! 아닐땐 안함 */
    left: 20px; top: 20px;
    right: 20px; bottom: 20px;
    /* 여기에 r/b px 지정이 있대도 이상할 건 없음.... 딱히 잘못된 것까진 아님....  이렇게 넓이를 100%로 채우기도 한다! 여백을 통해 넓이를 정함?*/
    /* 근데 position absolute에서만 되는듯? fixed나  */
}

#전체 .둘째자식{
    margin-bottom: 50px;
    /* 위에없는내용이면 덮어쓰기됨~ */
}

#전체 .셋째자식{
    margin-top: 30px;
    padding: 10px;
    /* top/bottome의 경우 두 margin이 겹쳐지면 큰 것만 적용된다 */
    background-color: lemonchiffon;
}

.셋째자식::after{
    content: "";
    display: block;
    clear: both;
}

#전체 .셋째자식>div{
    background-color: plum;
    width: 40%;
    margin: 0 2%; /* 상하마진0 좌우마진5% */
    float: left;
    padding: 5px;
    
}

#전체 .셋째자식>div li{
    border: 1px solid gray; /* 부모 요소 전부 차지 > 얘네는 block요소이다 */
    list-style: inside;
}
/* 똑같은 요소가 반복되는 것에 대체로 list 사용함.. 그것이 컬러차트이더라도 */

#전체 .넷째자식 .넷째손자{
    background-color: ivory;
    margin-top: 30px;
    padding: 20px;
}

#전체 .넷째자식 .넷째손자 dt{
    background-color: aquamarine;
}
#전체 .넷째자식 .넷째손자 dd{
    background-color:lightpink;
}

/* dd와 dt는 block요소인거임?
dl과 ul~ol의 차이는?
위에서 margin을 처리하지 않으면 dd 내에는 들여쓰기가 생긴다! */